<?xml version="1.0" encoding="UTF-8"?> 
<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:jaxws="http://cxf.apache.org/jaxws" 
xmlns:cxf="http://cxf.apache.org/core" 
xsi:schemaLocation=" 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd 
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd"> 
<import resource="classpath:META-INF/cxf/cxf.xml" /> 
<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" /> 
<import resource="classpath:META-INF/cxf/cxf-extension-http.xml" /> 
<import resource="classpath:META-INF/cxf/cxf-extension-http-jetty.xml" /> 

    <bean id="logInbound" class="org.apache.cxf.interceptor.LoggingInInterceptor"/> 
    <bean id="logOutbound" class="org.apache.cxf.interceptor.LoggingOutInterceptor"/> 
    
    <cxf:bus> 
        <cxf:inInterceptors> <ref bean="logInbound"/> </cxf:inInterceptors> 
        <cxf:outInterceptors> <ref bean="logOutbound"/> </cxf:outInterceptors> 
        <cxf:inFaultInterceptors> <ref bean="logOutbound"/> </cxf:inFaultInterceptors> 
    </cxf:bus> 
    <jaxws:endpoint id="cxf1332" implementor="org.apache.cxf.cxf1332.Cxf1332Impl" 
                    address="http://localhost:8088/Cxf1332" /> 
    
    <bean id="proxyFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
       <property name="serviceClass" value="org.apache.cxf.cxf1332.Cxf1332"/>
       <property name="address" value="http://localhost:8088/Cxf1332"/>
  </bean>

  <bean id="client" class="org.apache.cxf.cxf1332.Cxf1332"
    factory-bean="proxyFactory" factory-method="create"/>
    
    
</beans> 
