BODY {
	FONT-SIZE: 12px; MARGIN: 0px; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #D6E7A5
}
#blue {
	VERTICAL-ALIGN: top; BACKGROUND-COLOR: #EFF7F7
}
#green {
	VERTICAL-ALIGN: top; BACKGROUND-COLOR: #D6E7A5
}
#grey {
	VERTICAL-ALIGN: top; BACKGROUND-COLOR:  #E7E7E7
}
#white {
	VERTICAL-ALIGN: top; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #ffffff
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; VERTICAL-ALIGN: top; COLOR: #000000; FONT-FAMILY: arial,helvetica,sans-serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; VERTICAL-ALIGN: top; COLOR: #000000; FONT-FAMILY: arial,helvetica,sans-serif
}
H3 {
	FONT-SIZE: 14px; VERTICAL-ALIGN: top; COLOR: #000000; FONT-FAMILY: arial,helvetica,sans-serif
}
H4 {
	FONT-SIZE: 12px; VERTICAL-ALIGN: top; COLOR: #000000; FONT-FAMILY: arial,helvetica,sans-serif
}
#leftnav {
	PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: top; COLOR: #c6d7de; FONT-FAMILY: arial,helvetica,sans-serif
}
#leftnav A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-DECORATION: none
}
#leftnav A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #d8e1e8; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-DECORATION: underline
}
#mainnav {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; VERTICAL-ALIGN: top; COLOR: #000000; FONT-FAMILY: arial,helvetica,sans-serif
}
#mainnav A {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #94b2c2; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-DECORATION: none
}
#mainnav A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #808080; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-DECORATION: underline
}
#subnav {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; VERTICAL-ALIGN: top; COLOR: #000000; FONT-FAMILY: arial,helvetica,sans-serif
}
#subnav A {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #94b2c2; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-DECORATION: none
}
#subnav A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #808080; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-DECORATION: underline
}
