<?xml version="1.0" encoding="utf-8"?>

<plugin name="test" version="2.0" provider="apache cxf" xmlns="http://cxf.apache.org/tools/plugin">
    <frontend name="jaxws" package="org.apache.cxf.tools.wsdlto.frontend.jaxws" profile="JAXWSProfile">
	<container name="DummyContainer" toolspec="dummy.toolspec" package="org.apache.cxf.tools.wsdlto.core"/>
	<builder name="JAXWSDefinitionBuilder" package="org.apache.cxf.tools.wsdlto.frontend.jaxws.wsdl11"/>
	<generators package="org.apache.cxf.tools.wsdlto.frontend.jaxws.generators">
	    <generator name="AntGenerator"/>
	    <generator name="ImplGenerator"/>
	</generators>
    </frontend>	
    <databinding name="jaxb" package="org.apache.cxf.tools.wsdlto.databinding.jaxb" profile="JAXBBindingGenerator"/>
</plugin>

