/* Document Defaults */

body { background-color: #FFFFff; font-family: Verdana, Arial, Helvetica, sans-serif; 

font-size: 9pt; font-style: normal; font-weight: normal; color: #000000; 

letter-spacing: normal; text-align: left; 

text-indent: 0pt; word-spacing: normal; margin-top: 0pt; margin-bottom: 12pt; margin-left: 30 pt}

a:active { color: #FF0000}

a:hover { color: #CC0033}

a:link { color: #0000FF}

a:visited { color: #800080}



/* Paragraph Styles */

.pBlockLabel {float: left; clear: left; background-color: #CCCCCC; color: #000000; font-size: 9pt; font-weight: bold; padding-bottom: 4px; padding-left: 10px; padding-top: 4px; padding-right: 10px; margin-top: 2px; margin-bottom: 3px; margin-right: 8px;}

.pBody, .pBodyRelative { clear: bottom; padding-top: 2px; border-top:0px; font-size: 9pt; }

.pCaption {text-align: left; font-weight: bold; font-size: 9pt;}

.pCellBody { font-size: 9pt; }

.pCellHeading { font-size: 9pt; text-align: left; font-weight: bold; color: #003366}

.pSummary {font-size: 9pt; font-weight: bold; }

.pCodeCallout {font-size: 8pt;}

.pGlossaryBlock, .GroupTitlesIX {color: #808080; font-size: 12pt; font-weight: bold; }

.pGlossaryEntry { clear: bottom; font-size: 9pt; }

.pGlossaryTerm{ font-size: 11pt; font-weight: bold; color: #808080; float:top; margin-top: 24px; margin-bottom: -10px;}

.pHeadingRef, .pHeadingAppx, .pHeadingChapter, .pHeadingFrontBack { text-align: left; font-size: 18pt; color: #808080 ; font-weight: bold; margin-top: 20px}

.pHeadingPart { text-align: left; font-size: 18pt; color: #808080 ; font-weight: bold; margin-top: 20px}

.pHeadingRunin { clear: left; font-size: 9pt; font-weight: bold}

.pHeadingRuninNext { font-size: 9pt; }

.pLevel1IX { margin-left: 2em; text-indent: -2em; margin-top: 20px; margin-bottom: -12px; }

.pLevel2IX { margin-left: 4em; text-indent: -2em; margin-bottom: -12px;  }

.pLevel3IX { margin-left: 6em; text-indent: -2em; margin-bottom: -12px; }

.pSection, .HeadingPart { text-align: left; font-size: 18pt; color: #808080; font-weight: bold; margin-top: 20px}

.pSubSection { text-align: left; font-size: 14pt; color: #808080; font-weight: bold; margin-top: 20px}

.pNote, .pNoteIndent { font-size: 9pt; background-color: #EEEEEE; float: top; padding: 5px; margin-bottom: 24px;}

.pPartNumber {text-align: left; font-size: 14pt; color: #808080; font-weight: normal;}

.pCode, .pPreformatted, .pPreformattedRelative { color: #990033; font-size: 9pt }

.pRefHead{ font-size: 11pt; font-weight: bold; color: #808080; float: top; padding-top: 5px; margin-top: 24px; border-top: solid black 1px;}

.pRefSubhead, .pSideHead { font-size: 9pt; font-weight: bold; float: top; background-color: #CCCCCC; width: 150px; padding: 5px; margin-bottom: -8px; margin-top: 4px; }

.pSmartList1, .pSmartList2 { font-size: 9pt; clear: left; margin-bottom: 6pt}

.pStep, .pStepFirst {float: left; clear: left; background-color: #FFFFFF; color: #808080; font-size: 9pt; width: 30px; font-weight: bold; margin-top: 2px; margin-bottom: 3px;}

.pSubLabel, .pSubLabelIndent {float: top; clear: left; color: #808080; font-size: 8pt; font-weight: bold; min-width: 80px; margin-bottom: -10px;}

.pTableHeading {font-size: 10pt; color: #6666CC;}

.pTableFootnote, .pFootnote { font-weight: bold; font-size: 8pt; }

.pNote { font-size: 9pt; }

.pTableText { margin-left: 0; font-size: 9pt }

.pTableTitle { text-align: left; font-weight: bold; font-size: 9pt; font-family: Verdana, Arial, Helvetica, sans-serif; padding-top: 6pt}

.pTitle { text-align: left; font-size: 18pt; color: #808080; font-weight: bold; margin-top: 20px}

.pWarning { border=solid black 1px; background-color: #FFFFFF; float: top; padding: 5px; margin-bottom: 24px;}


/* Character Styles */

.cCode { color: #990033; font-size: 9pt; font-family: monospace; }

.cCodeBold { color: #660000; font-weight: bold; font-size: 9pt; font-family: monospace; }

.cCodeCharTable {color: #990033; font-size: 9pt; font-family: monospace; }

.cCodeEmphasis { color: #990033; font-size: 9pt; font-style: italic; font-family: monospace; }

.cNormal { }

.cEmphasis { font-style: italic}

.cEmphasisUnderline { font-style: italic; text-decoration: underline}

.cGUI{ color: #8888AA; font-weight: bold; }

.cStrong { color: font-weight: bold}

.cStrongUnderline { font-weight: bold; text-decoration: underline}

.cSubScript { }

.cSuperScript { }

.cWebJump { font-size: 9pt}

.cUserInnput { color: #660000; font-weight: bold; font-size: 9pt; font-family: monospace; }