<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">
<web-app>
    <display-name>celtix</display-name>
    <description>celtix</description>
    <servlet>
        <servlet-name>celtix</servlet-name>
        <display-name>celtix</display-name>
        <description>Celtix endpoint</description>
        <servlet-class>org.objectweb.celtix.bus.jaxws.servlet.CeltixServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>celtix</servlet-name>
        <url-pattern>/celtix/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
</web-app>
