<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
  <import resource="classpath:META-INF/cxf/cxf.xml"/>
  <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml"/>
  <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
  
  <bean id="greeterServer" factory-method="create" 
        factory-bean="greeterServerFactory"
        class="org.apache.cxf.endpoint.Server"/>
  
  <bean id="greeterServerFactory"
    class="org.apache.cxf.jaxws.JaxWsServerFactoryBean">
    <property name="serviceClass" value="org.apache.hello_world_soap_http.GreeterImpl" />
    <property name="bus" ref="cxf"/>
    <property name="serviceFactory.invoker">
      <bean class="org.apache.cxf.service.invoker.BeanInvoker">
        <constructor-arg>
          <bean class="org.apache.hello_world_soap_http.GreeterImpl"/>
        </constructor-arg>
      </bean>
    </property>
    <property name="address" value="http://localhost/services/Greeter"/>
  </bean>
  
</beans>
